# Docker
docker-compose.override.yml

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
logs/

# Environments
.env
.env.*
!.env.example

# Database
backend/postgres/data/

# Uploads
backend/uploads/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Frontend for Node.js
frontend/node_modules/
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
