# Docker
docker-compose.override.yml

# IDE
.vscode/
.idea/
*.swp
*.swo
**/.vagrant/
**/.docker/
**/.cache/
*.bak
*.tmp

# Logs
*.log
logs/*

# Environments
.env
.env.*
!.env.example
event.json
act.txt

# Database
backend/postgres/data/
backend/postgres/db_postgres.env
backend/alembic.ini

# Uploads
backend/uploads/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Frontend for Node.js
frontend/node_modules/
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*


.bash_history
.sudo_as_admin_successful

# ───── Terraform ─────
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
*.backup
*.log
*.plan
.terraform/
.terraform.lock.hcl
terraform.tfstate.backup
crash.log
terraform.rc
.terraformrc

# ───── Ansible ─────
*.retry
*.log
*.out
*.pyc
__pycache__/
inventory.ini
vault_pass.txt
group_vars/
host_vars/
*.vault
*.secret

# ───── OS-specific ─────
.DS_Store
Thumbs.db

# ───── Secrets ─────
certs/**
letsencrypt/**
